.container:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url('images/cagliari.jpg');
    background-repeat: no-repeat;
    opacity: 20%;
}

.logo{
    width: 20%;
    position: relative;
    top: 20px;
    left: 50%;
}