 q* {box-sizing: border-box}

/* Full-width input fields */
input[type=text] {
  width: 400;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: #3944dd;
  background: #f1f1f1;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: #3944dd;
}

select[type="country"] {
  width: 400;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: #3944dd;
  background: #f1f1f1;
}

select[type="amount"] {
  width: 200;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: #3944dd;
  background: #f1f1f1;
}
/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #3944dd;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

.vspace {
  margin-bottom: 1cm;
}

.centerimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label{
  color: white;
}